.contact {
    padding: 100px 20px;
}


.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239F 51%, #1345e6 100%);
    background-size: 200% auto;
    color: #ffff;
    font-weight: 500;
    font-size: 14px;
    padding: 1,26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-position: right center;
}

.textarea, input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    color: #495057;
    box-sizing: border-box;
}

textarea:focus,
input:focus {
    outline: 0;
}

.half-row {
    display: inline-block;
    width: calc(50% - 20px); /* updated width calculation */
    float: left;
    box-sizing: border-box;
    margin: 10px; /* added margin */
}

.contact__email {
    padding-left: 40px;
}

textarea {
    width: 100%; /* updated width */
    margin: 0;
    padding-right: 0;
}

/* added media queries for responsiveness */

@media (max-width: 768px) {
    .half-row {
        width: 100%; /* make half-rows full-width on smaller screens */
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .contact {
        padding: 50px 20px; /* reduce padding on smaller screens */
    }
    .textarea, input {
        font-size: 12px; /* reduce font size on smaller screens */
    }
}