    /* Main home*/
    .container_home {
        font-family: sans-serif;
        margin: 0;
        display: flex;
    }


    .container_home {
        display: flex;
        width: 100%;
        background-color: #fffff;
    }
    .left {
        width: 50%;
        padding: 50px;
        background-color: #fffff;
    }
    .right {
        width: 50%;
        padding: 50px;
        background-color: #ddd;
    }

    .Details {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .social a {
        display: inline-block;
        margin: 0 10px;
        font-size: 24px;
    }
    button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .image img {
        max-width: 70%;
    }

/* Satisfaction*/
.main_container_rate {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.number {
  font-size: 48px;
  color: #80b3c4;
  font-weight: bold;
}

.text {
  font-size: 18px;
  margin-top: 10px;
}