

/*main section*/
.main-banner{
  background: url(./images/vivid-blurred-colorful-wallpaper-background_58702-3359.webp);
  background-position: center;
  background-size: cover;
  min-height: 890px;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}
.main-section{
  padding: 100px 30px;
}
.main-section > div{
  float: left;
  width: 50%;
}
.main-section__image{
  text-align: right;
  width: 100px;
  border-radius: 50px;
  display: inline-block;
 
}
.main-section__welcome{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}
.main-section__introduction{
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #05364e;
}
.main-section__position{
  color: #05364e;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.main-section__social-networks a{
 color: #8fa1aa;
 font-size: 20px;
 display: inline-block;
 margin-right: 16px;
 cursor: pointer;
}
.main-section__social-networks a:hover i{
  color: #1c44e4;

}
.main-section__action{
  margin-top: 30px;

  
}
/*statistics section*/
.statistics{
  padding-top: 100px;
}
.statistics__item{
  display: inline-block;
  background-color: #f8faff;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
  width: 150px;
}
.statistics_number{
  font-size: 27px;
  margin-bottom: 5px;
  background: linear-gradient(to right, #1345e6 0%, #e2068e 51%, #1345e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statistics__title{
  font-size: 16px;
  color: #797979;
  font-weight: 300;
}

/*service section styles*/
.services{
  padding-top: 100px;
  display: inline-block;
  margin-right: 0;
  text-align: center;
}

.service-card{
  display: inline-block;
  width: 30%;
  padding: 60px 30px;
  background-color: #f8faff;
  margin-left: 3px;
  box-sizing: border-box;


}
.service-card__title{
  color: #05364d;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;

}
.service-card__description{
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;

}
.service-card__link{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}
.service-card__icon{
  width: 80px;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link{
  color: #ffffff;
  background-color: #5f30ff;
  transition: all 0.4s ease 0s delay 1s ;
}
/*client-section__styles*/
.cliets{
  padding-top: 100px;

}
.client-item > div{
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.client-item__image img{
  width: 95%;
 
}
.client-item__info{
  padding-top: 50px;
  padding-left: 50px;
}
.client-item__name{
  font-size: 20px;
  margin-bottom: 4px;

}
.client-item__position{
  font-size: 14px;
  font-weight: 300;
  color: #5b6d75;
}
.client-item__review{
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #5b6d75;
}
.client-item__rate{
  color: #ffd805;
}
/*portfolio section style*/
.portfolio{
  padding: 100px 0;
}
.portfolio-filters{
  list-style: none;
  padding-left: 0;
  margin-top: 50px;


}
.section-subtitle__portfolio{
 position: relative;
 left: 340px;
}
.portfolio-filters li{
  display: inline-block;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;


}
.portfolio-filters li:hover{
  color: #1c44e4;
  cursor: pointer;
}
.portfolio-filters li.active{
  color: #1c44e4;
}
.section-subtitle__portfolio{
  text-align: center;
}
.portfolio-items{
  margin-top: 50px;
  position: relative;

}
.portfolio-item{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.portfolio-item__2{
  position: absolute;
  top: 0;
  left: 430px;}
.portfolio-item__3{
  position: absolute;
  top: 400px;
  left: 375px;
  width: 700px;
 

}
.portfolio-item__overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 69,230,0.9);
  visibility: hidden;
  cursor: pointer;
  z-index: 1;
  transition: all 0.4s ease 0s ;
}
.portfolio-item__info{
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #ffffff;
  visibility: hidden;
  z-index: 1;
  transition: all 0.4s ease 0s ;
}
.portfolio-item__image{
  width: 400px;
  height: 800px;
}
.portfolio-item__image2{
  height: 400px;
}
.portfolio-item__image3{
  height: 400px;
}
.portfolio-item__info a{
  color: #ffffff;
  text-decoration: none;
}
.portfolio-item:hover .portfolio-item__overlay{
  visibility: visible;
  top: 20px;
  left: 20px;
}
.portfolio-item:hover .portfolio-item__info{
  visibility: visible;
  bottom: 24px;
  left: 60px;
  text-align: left;
}
/* blog Section*/
.blog{
  padding-top: 50px;
}
.blog-items{
  margin-top: 50px;
}
.blog-item{
  display: inline-block;
  width: 30%;
  margin-right:3% ;
  box-sizing: border-box;
}
.blog-item :hover{
 box-shadow: 0px 10px 20px rgb(5, 34, 77 / 100);
}
.blog-item :hover .blog-item__info{
  background-color: #f8faff;
}
.section-title{
  text-align: center;
}
.blog_item_image{
  width: 343px;

}
 .blog_item_image :hover{
  transform: scale(1,1);
}
.blog_item_image1 :hover{
  transform: scale(1,1);
}
.blog_item_image1{
  margin-bottom: 17px;
  width: 343px;
  height: 227px;
}
.blog-item__info{
  padding: 10px;
  background-color: #f8faff;
  color: #797979;

}
.blog-item__main-info span{
 font-size: 14px;
 margin-right: 20px;
 font-weight: lighter;
}
.blog-item__info i{
  margin-right: 5px;
  padding: 20px;
}
.blog-item__title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #05364d;

}
.blog-item__description{
  line-height: 27px;
  font-weight: lighter;
  font-size: 15px;
}
.blog-item__learn-more{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  cursor: pointer;
  text-decoration: none;
}
  .blog-item__learn-more :hover{
    color: #ed239F;
  }
/*partner section*/
.partner__image{
  width: 100px;
  height: 70px;
}
.partners{
  padding-top: 100px;
}
.partner{
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  position: relative;
  left: 100px;
}
@media only screen and (max-width: 767px) {
  .main-banner{
    background: none;
    min-height: auto;
  }
  .main-section__image{
    display: none;
  }
  .main-section__action{
    display: none;
  }
  .main-section > div{
    width: 100%;
  }

/*statistics*/
.statistics__item{
  width: 100%;
  margin-bottom: 20px;
}
}